.layout_wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	.layout_header {
		// position: fixed;
		// top: 0;
		// left: 0;
		padding: 0;
		margin: 0;
		width: 100vw;
		background-image: url(/src/assets/images/img/hero-bg-img.png);
		height: 768px;
		background-position:center;
		background-repeat: no-repeat;
		background-size:cover;
		
	}

	.layout_header_container{
background: rgba(0, 0, 0, 0.562);	
width: 100vw;
height: 768px
	}

	.layout_main {
		flex: 1;
		padding: 10pxw;
		background-color: aqua;
		margin-top: 10px;
	}

	.layout_footer {
		background-color: bisque;
		color: blue;
		text-align: center;
		// padding: 10px;
		// position: fixed;
		// bottom: 0;
		// left: 0;
		width: 100vw;
	}
}
