.layout_wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	.layout_header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
	}

	.layout_main {
		flex: 1;
		padding: 10px;
		background-color: aqua;
		margin-top: 10px;
	}

	.layout_footer {
		background-color: bisque;
		color: blue;
		text-align: center;
		padding: 10px;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100vw;
	}
}
