// Clicker Script font
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

// Work Sans font
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// Full Colors
@import '/src/colors/FullColors.scss';

// Full fonts
@import '/src/fonts/FullFonts.scss';
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	// background-color: grey;
	padding: 10px 0px;

	.header_logo {
		color: $header-logo;
		font-size: 35px;
		font-family: 'Clicker Script', cursive;
		font-weight: 800;
	}

	.navbar {
		.nav_list {
			display: flex;
			align-items: center;
			gap: 50px;
			font-family: 'Work Sans', cursive;

			.nav_item_link {
				font-size: $first-font + 2;
				color: $full-white;
				font-weight: 700;
				padding: 5px;
				position: relative; // muhim!
				display: inline-block;
				transition: all 0.4s ease-in;

				// hoverdagi border animatsiyasi uchun
				&::after {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 3px;
					background: #d8313f;
					background: linear-gradient(
						170deg,
						rgba(216, 49, 63, 1) 30%,
						rgba(245, 108, 61, 1) 70%
					);
					transform: scaleX(0);
					transform-origin: center;
					transition: transform 0.4s ease-in-out;
					border-radius: 20px;
				}

				&:hover::after {
					transform: scaleX(1);
				}

				&:hover {
					font-weight: 900;
					cursor: pointer;
				}

				&:active {
					opacity: 0.6;
				}

				// 🔥 ACTIVE holat hover bilan bir xil bo‘lsin
				&.active {
					font-weight: 900;
					color: lighten($full-white, 10%);
					&::after {
						transform: scaleX(1);
					}
				}
			}
		}
	}

	.login_btn {
		display: flex;
		align-items: center;
		gap: 33px;
		font-family: 'Work Sans', sans-serif;
		.signIn_btn {
			font-size: $first-font;
			display: block;
			font-weight: bold;
			color: $full-white;
			border-bottom: 2px solid transparent;
			transition: all 0.4s ease-in-out;
			border-radius: 2px;

			&:hover {
				border-bottom: 2px solid $full-white;
				transition: all 0.4s ease-in;
				border-radius: 2px;
			}
		}

		.signUp_btn {
			padding: 16px 25px;
			font-size: $first-font;
			color: $full-white;
			font-weight: bold;
			background: #d8313f;
			background: linear-gradient(
				90deg,
				rgba(216, 49, 63, 1) 30%,
				rgba(245, 108, 61, 1) 70%
			);
			border-radius: 18px;
			border: 2px solid #d8313f;
			transition: all 0.4s ease-in-out;

			&:hover {
				box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
				transition: all 0.4s ease-in-out;
				transform: translateY(-1px);
			}
		}
	}
}
