*{
  margin: o;
  padding: 0;
  box-sizing: border-box
}

html, body{
  padding: 0 ;
  margin: 0 ;
}


a,ins{
  text-decoration: none;
  color: black;
}

ul,ol{
  list-style: none;
}

.container{
    width: 90vw;
    margin: 0 auto;
}


